{% extends 'dashboard/base.html' %}

{% block content-header %}
    <h3>资产列表</h3>
{% endblock %}

{% block content-inner %}
<table id="sample_1">
    <thead>
        <tr>
            <th>序号</th>
            <th>主机名</th>
            <th>IP</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for host in assets %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ host.name }}</td>
            <td>{% for i in host.interfaces %} {{ i.ip }} {% endfor %}</td>
            <td>
                {% if host.status == '0' %}
                    <span class="glyphicon glyphicon-ok-sign" style="color: green"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove-sign" style="color: red"></span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'graph' %}?hostid={{ host.hostid }}">查看</a>
            </td>
        </tr>
     {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}
<script>
// Configuration zTree
var setting = {
    async: {
        enable: true,
        type: "post",
        url: "/asset/ztree/"
    },
    data: {
        simpleData: {
            enable: true
        },
          idKey: "hostid",
        pIdKey: "groups.groupid",
        rootPId: null
    },
    callback: {
        beforeClick: getCurrentNode,
        // onClick: zTreeOnClick
    },
};

// Function getCurrentNode
function getCurrentNode(treeId, treeNode) {
    groupid = treeNode.id;
    zTreeOnClick(groupid);
}

// Function zTreeOnClick
function zTreeOnClick() {
    $.ajax({
        type: "post",
        url: "/asset/zChildren/",
        data: {"groupids": groupid},
        success: function(assets){
            console.log("1. template: ajax msg is ",assets);
            table = $("#sample_1").DataTable();
            table.destroy();
            var dataSet = [[ 1, "monitor.itcenter.gov.cn", "1.85.33.61", "online", "view" ]];
            table = $("#sample_1").DataTable({
                data: dataSet,
            });
        }
    });
}

// Function Main 
$(document).ready(function() {
    $.fn.zTree.init($("#treeDemo"), setting); // Initial zTree
    // DataTable
    var table = $("#sample_1").dataTable({
        destroy: true,
        bProcessing: true,
        bStateSave: false,
        iDisplayLength: 15,
        bInfo: true,
        bPaginate: true,
        autoWidth: true,
        bScrollCollapse: true,
        sPaginationType: "full_numbers",
        bSort: false,
        bFilter: true,
    });
});
</script>
{% endblock %}
