<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Admin</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static "css/default.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- 左侧导航栏 -->
        <div class="col-md-2 display-table-cell valign-top" id="side-menu">
            <h1 class="hidden-xs hidden-sm">运维监控平台</h1>
            <ul>
                <li class="link">
                    <a href="#">

                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm hidden-xs" href="#">仪表盘</span>
                    </a>
                </li>
                <li class="link">
                    <a href="#collapseExample" data-toggle="collapse" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-th-large"></span>
                        <span class="hidden-sm hidden-xs">概览</span>
                    </a>
                    <ul class="collapse collapseable" id="collapseExample">
                        <li><a href="#">项目概况</a></li>
                        <li><a href="#">内网采集器</a></li>
                        <li><a href="#">云主机监控端</a></li>
                        <li><a href="#">创建监控项目</a></li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapseExample1" data-toggle="collapse" aria-controls="collapseExample1">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <span class="hidden-sm hidden-xs">监控</span>
                    </a>
                    <ul class="collapse collapseable" id="collapseExample1">
                        <li><a href="#">网站监控</a></li>
                        <li><a href="#">服务器性能监控</a></li>
                        <li><a href="#">服务性能监控</a></li>
                        <li><a href="#">自定义监控</a></li>
                        <li><a href="#">API监控</a></li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#">
                        <span class="glyphicon glyphicon-file"></span>
                        <span class="hidden-sm hidden-xs">报表中心</span>
                    </a>
                </li>
                <li class="link">
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm hidden-xs">用户中心</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 右侧内容区 -->
        <div class="col-md-10 display-table-cell valign-top box">
            <div class="row">
                <header id="nav-header" class="clearfix">

                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas"
                                    data-target="#side-menu">
                                <!-- type="button" data-toggle="collapse" data-target="" aria-controls="side-menu"> -->
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>
                        <input class="hidden-sm hidden-xs" type="text" id="header-search-field" placeholder="键入以搜索">
                    </div>

                    <div class="col-md-7">
                        <ul class="pull-right">
                            <li id="welcome" class="hidden-xs">
                                <a href="#">johnson</a>
                                欢迎登陆运维监控系统
                            </li>
                            <li class="fixed-width">
                                <a href="#">
                                    <span class="glyphicon glyphicon-bell"></span>
                                    <span class="label label-warning">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>

            <div id="content">
                <header>
                    {% block content-header %}
                    {% endblock %}
                </header>

                <div class="content-inner">
                    {% block content-inner %}
                    {% endblock %}
                </div>
            </div>

            <div class="row">
                <footer id="nav-footer" class="clearfix">
                    <div class="text-center">
                        <b>Copyright &copy; 2018</b>&nbsp;未来国际平台服务部
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="{% static 'vendor/jquery/1.12.4/jquery.min.js' %}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="{% static 'vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/Chart.js/2.7.2/Chart.min.js' %}"></script>
<script src="{% static 'js/default.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

<!-- 自定义JAVASCRIPT 脚本 -->
{% block js %}
{% endblock %}

</body>


</html>
